.about-cont{
    font-size: 10px !important;
    width: 85vw;
    height: 85vh;
    display: flex;
    background-color: rgba(140, 87, 84, 0.87);
    margin: 35px auto;
    border: none;
    border-radius: 10px;
}

.about-cont .about {
    padding: 10px 10px 10px 10px;
}

.txt-cnt .text {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}