* {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    background-color: #FFCFCC;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-cont {
    --mc-width: 100%;
    --mc-height: 100vh;

    width: var(--mc-width);
    height: var(--mc-height);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.wrapper {
    --wr-width: 330px;
    --wr-height: 100vh;

    width: var(--wr-width);
    height: var(--wr-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-line {
    background-color: #5C302D;
    width: 100vw;
    height: 3px;
    opacity: 1;
    margin: 2px 0px;
    display: flex;
}