.footer {
    background-color: #5C302D;
    width: 100%;
    display: inline-flex;
    padding: 20px 0;
}

.footer .ft-cont {
    width: 95%;
    margin: auto;
    height: 100px;
}

.footer .ft-cont .row {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.footer .ft-cont .row .ft-col {
    width: 25%;
    padding: 0 15px;
    list-style: none;
    text-decoration: none;
}

.footer .ft-cont .row .ft-col #h4-help {
    font-size: 12px;
    margin-bottom: 5px;
}

.footer .ft-cont .row .ft-col #h4-follow {
    font-size: 12px;
}


.ft-col .h4-before {
    width: 35px;
    height: 2px;
    background-color: rgb(242, 64, 73);
    margin: 3px 0 3px 0;
}

.ft-col ul {
    list-style: none;
}

.ft-col ul li a{
    text-decoration: none;
    padding: 0;
    color: hsl(3,40%,68%);
}
.social-links a i {
    color: hsl(3,40%,68%);
}

.capitalize {
    text-transform: capitalize;
}