.cont-txt {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 50px;
    color: #8C5754;
    margin-bottom: 10px;
}

.prod-cnt {
    --prd-c-width: 95%;
    --prd-c-height: 2000px;

    width: var(--prd-c-width);
    height: var(--prd-c-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Allows wrapping to new lines */
    justify-content: start;
    padding-left: 3px;
}

.prod-cnt .prd {
    --prd-width: 100px;
    --prd-height: 120px;

    background-color: hsl(3, 31%, 58%);
    width: var(--prd-width);
    height: var(--prd-height);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 35px;
}


.product-img-cnt {
    width: 90px;
    aspect-ratio: 16/9;
    margin: 5px auto;
    padding: 0px;
    font-size: 0px;
    overflow: hidden;
}

.product-img {
    width: 90px;
}

/* product 1 */

#prdOne {
    font-size: 11px;

    margin-top: 3px;
}

/* product 2 */

#prdTwo {
    font-size: 14px;

    margin-top: 1px;
}

/* product 3 */

#prdThree {
    font-size: 12px;

    margin-top: 1px;
}

/* product 4 */

#prdFour {
    font-size: 12px;

    margin-top: 1px;
}

/* product 5 */

#prdFive {
    font-size: 11.5px;

    margin-top: 1px;
    margin-bottom: 2px;
}

/* product 6 */

#prdSix {
    font-size: 10.2px;

    margin-bottom: 2px;
}

/* product 7 */

#prdSeven {
    font-size: 12px;

    margin-top: 1px;
}

/* product 8 */

#prdEight {
    font-size: 11.5px;

    margin-top: 1px;
}

.prod-cnt .prd .prd-desc {
    font-size: 7px;
    margin-left: 10px;
}