.prod-cnt {
    --prd-c-width: 95%;
    --prd-c-height: 2000px;
    --trns-rotate: rotate(90deg);

    /*background-color: red; */
    width: var(--prd-c-width);
    height: var(--prd-c-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Allows wrapping to new lines */
    justify-content: start;
    padding-left: 3px;
}

.prod-cnt .prd {
    --prd-width: 100px;
    --prd-height: 120px;

    background-color: #B57673;
    width: var(--prd-width);
    height: var(--prd-height);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 35px;
}

.product-img-cnt {
    width: 90px;
    max-width: 90px;
    aspect-ratio: 16/9;
    background-color: white;
    margin: 5px auto;
    padding: 0px;
    font-size: 0px;
    overflow: hidden;
}

.product-img {
    width: 90px;
}

/* product 1 */

#prdOne {
    font-size: 11px;
    font-weight: bold;
    margin-top: 3px;
}

/* product 2 */

#prdTwo {
    font-size: 14px;
    font-weight: bold;
    margin-top: 1px;
}

/* product 3 */

#prdThree {
    font-size: 12px;
    font-weight: bold;
    margin-top: 1px;
}

/* product 4 */

#prdFour {
    font-size: 12px;
    font-weight: bold;
    margin-top: 1px;
}

/* product 5 */

#prdFive {
    font-size: 11.5px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 2px;
}

/* product 6 */

#prdSix {
    font-size: 10.2px;
    font-weight: bold;
    margin-bottom: 2px;
}

/* product 7 */

#prdSeven {
    font-size: 12px;
    font-weight: bold;
    margin-top: 1px;
}

/* product 8 */

#prdEight {
    font-size: 11.5px;
    font-weight: bold;
    margin-top: 1px;
}

.prod-cnt .prd .prd-desc {
    font-size: 7px;
    margin-left: 10px;
}

.prod-cnt .prd .prd-line {
    width: 90%;
    height: 1px;
    background-color: #000;
    margin-top: 5px;
    margin-bottom: 2.5px;
}

.prod-cnt .prd .prchs {
    height: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.prod-cnt .prd .prchs .prd-price {
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    align-self: flex-start;
    margin-left: 3px;
    margin-top: 4px;
}

.prod-cnt .prd .prchs .prd-btn {
    background-color: #713E3D;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    border-radius: 24px;
    margin: 0px;
    padding: 2px 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}